@import url("https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaiscreenr.css");

@import 'tailwindcss';
@source "../../layout/**/*.ejs";
@source "../../source/js/**/*.js";

/* 全局字体设置 */
body {
    font-family:  "LXGW WenKai Screen R", 'Noto Sans SC', sans-serif, serif;
}



/* 文章目录固定定位 */
.sticky-toc {
    @apply sticky top-20;
}