<header class="site-header">
    <h1 class="site-title"><a href="/"><%= config.title %></a></h1>
    <nav class="site-nav">
        <% for (var item in theme.menu) { %>
            <a href="<%- url_for(theme.menu[item]) %>"><%= item %></a>
        <% } %>
    </nav>
</header>