<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title || config.title %></title>
    <link rel="stylesheet" href="<%- url_for('css/style.min.css') %>">
</head>